extends ../partials/layout

block content
    if (type == "error")
        .alert.alert-danger.fade.in
            button.close(type='button', data-dismiss='alert')
                i.fa.fa-times-circle-o
            div
                span #{message}
    else if (type == 'info')
        .alert.alert-info.fade.in
            button.close(type='button', data-dismiss='alert')
                i.fa.fa-times-circle-o
            div
                span #{message}
    else if (type == 'success')
        .alert.alert-success.fade.in
            button.close(type='button', data-dismiss='alert')
                i.fa.fa-times-circle-o
            div
                span New contact from #{contact.name} (#{contact.email}): #{contact.message}